<div class="col-4 mx-auto text-center mt-2">
    <p class="display-4 text-center">Profil Yönetimi</p>
    <p class="border-bottom border-1"></p>
    <div class="border border-1 p-1 updateClass">
        <p class="display-6 fw-normal text-center">Profilimi Güncelle</p>
        <form [formGroup]="updateUserForm">
            <div class="input-group mb-3 pe-2">
                <span class="input-group-text ms-2">Ad:</span>
                <input 
                type="text" 
                class="form-control"            
                aria-label="Kullanıcı Adı"                
                id="firstName"
                name="firstName"
                placeholder="Adınızı yazınız."
                formControlName="firstName"
                [class.is-invalid] ="updateUserFirstName.invalid && (updateUserFirstName.touched || updateUserFirstName.dirty)"
                [class.is-valid] ="updateUserFirstName.valid && (updateUserFirstName.touched || updateUserFirstName.dirty)"
                >                
            </div>                        
            <div class="input-group mb-3 pe-2">
                <span class="input-group-text ms-2">Soyad:</span>
                <input 
                type="text" 
                class="form-control"            
                aria-label="Kullanıcı Soyadı"                
                id="lastName"
                name="lastName"
                placeholder="Sayadınızı yazınız."
                formControlName="lastName"
                [class.is-invalid] ="updateUserLastName.invalid && (updateUserLastName.touched || updateUserLastName.dirty)"
                [class.is-valid] ="updateUserLastName.valid && (updateUserLastName.touched || updateUserLastName.dirty)"
                >    
            </div>               
            <div class="input-group mb-3 pe-2">
                <span class="input-group-text ms-2">Mail:</span>
                <input 
                type="text" 
                class="form-control"            
                aria-label="Yeni Email"                
                id="newEmail"
                name="newEmail"
                placeholder="Mail adresinizi yazınız."
                formControlName="newEmail"
                [class.is-invalid] ="updateUserNewEmail.invalid && (updateUserNewEmail.touched || updateUserNewEmail.dirty)"
                [class.is-valid] ="updateUserNewEmail.valid && (updateUserNewEmail.touched || updateUserNewEmail.dirty)"
                >
            </div>
            <div class="input-group mb-3 pe-2">
                <span class="input-group-text ms-2">Mevcut Şifre:</span>
                <input 
                type="password" 
                class="form-control"            
                aria-label="Mevcut Şifre"                
                id="currentPassword"
                name="currentPassword"
                placeholder="Mevcut şifrenizi yazınız."
                formControlName="currentPassword"
                [class.is-invalid] ="updateUserCurrentPassword.invalid && (updateUserCurrentPassword.touched || updateUserCurrentPassword.dirty)"
                [class.is-valid] ="updateUserCurrentPassword.valid && (updateUserCurrentPassword.touched || updateUserCurrentPassword.dirty)"
                >
            </div>
            <div class="input-group mb-3 pe-2">
                <span class="input-group-text ms-2">Yeni Şifre:</span>
                <input 
                type="password" 
                class="form-control"            
                aria-label="Yeni Şifre"                
                id="newPassword"
                name="newPassword"
                placeholder="Yeni şifrenizi yazınız."
                formControlName="newPassword"
                [class.is-invalid] ="updateUserNewPassword.invalid && (updateUserNewPassword.touched || updateUserNewPassword.dirty)"
                [class.is-valid] ="updateUserNewPassword.valid && (updateUserNewPassword.touched || updateUserNewPassword.dirty)"
                >    
            </div>
            <div class="text-end mb-2">
            <button [disabled]="updateUserForm.invalid" class="btn btn-outline-light ms-2" type="button" (click)="updateUser()">Kaydet</button>
            <button class="btn btn-outline-light mx-2" type="button" (click)="cancelUpdate()">İptal</button>
            </div> 
        </form>
    </div>
    <div class="mt-2 p-1">
       <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteMyAccountModal">Hesabımı Sil</button>
    </div>
</div>
<div class="text text-center mt-2">
  <div class="text small text-success">
    Ad, Soyad ve Mail bilgilerinizi değiştirmek istemiyorsanız gelen verileri değiştirmeden şifre kısmına geçebilirsiniz. <br>
    Parolanızı değiştirmek istemezseniz, 'Yeni Şifre' alanına mevcut şifrenizi girebilirsiniz.
  </div>
  <div *ngIf="updateUserFirstName.hasError('pattern') || updateUserFirstName.hasError('required') || updateUserFirstName.hasError('minlength') " class="text small text-danger">
    *Ad: Boş bırakılamaz, boşlukla başlayamaz veya bitemez, izin verilenler dışında özel karakter içeremez ve en az 3 karakter içermelidir.
  </div>
  <div *ngIf="updateUserLastName.hasError('pattern') || updateUserLastName.hasError('required') || updateUserLastName.hasError('minlength') " class="text small text-danger">
    *Soyad: Boş bırakılamaz, boşlukla başlayamaz veya bitemez, izin verilenler dışında özel karakter içeremez ve en az 2 karakter içermelidir.
  </div>
  <div *ngIf="updateUserNewEmail.hasError('pattern') || updateUserNewEmail.hasError('required')" class="text small text-danger">
    *Mail: Boş bırakılamaz, boşlukla başlayamaz veya bitemez, geçerli bir mail adresi yazmalısınız.
  </div>  
  <div *ngIf="updateUserCurrentPassword.hasError('pattern') || updateUserCurrentPassword.hasError('required') && (updateUserCurrentPassword.touched || updateUserCurrentPassword.dirty)" class="text small text-danger">
    *Mevcut Şifre: Boş bırakılamaz, boşluk içeremez. En az 5 karakterden oluşmalı, büyük harf ve rakam içermeli.
  </div>
  <div *ngIf="updateUserNewPassword.hasError('pattern') || updateUserNewPassword.hasError('required') && (updateUserNewPassword.touched || updateUserNewPassword.dirty)" class="text small text-danger">
    *Yeni Şifre: Boş bırakılamaz, boşluk içeremez. En az 5 karakterden oluşmalı, büyük harf ve rakam içermeli.
  </div>
</div>


<div class="modal fade" id="confirmDeleteMyAccountModal" tabindex="-1" aria-labelledby="confirmDeleteMyAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteMyAccountModalLabel"><b>Hesap Silme Onayı</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hesabınız, sahip olduğunuz yetkiler ve kütüphaneniz sistemden tamamen silinecektir.
          <b>Bu işlem geri alınamaz ve yeniden kayıt olsanız dahi kütüphanenize ve yetkilerinize tekrar ulaşılamaz.</b>
          Silme işlemini tamamlamak istediğinizden emin misiniz?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#confirmYourPasswordForDeleteMyAccountModal">Hesabımı Sil</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmYourPasswordForDeleteMyAccountModal" tabindex="-1" aria-labelledby="confirmYourPasswordForDeleteMyAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmYourPasswordForDeleteMyAccountModalLabel"><b>Hesap Silme Onayı</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hesabınızı silebilmek için parolanızı girip hesabımı sil butonuna basınız.
          <div class="input-group my-3">
            <span class="input-group-text ms-2">Şifreniz:</span>
            <input 
            type="password" 
            class="form-control"            
            aria-label="Parola Onay"                
            id="parolaOnay"
            name="parolaOnay"
            placeholder="Parolanızı yazınız."  
            [(ngModel)] = "confirmPasswordText"          
            >    
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelConfirmPassword()">İptal</button>
          <button [disabled]="confirmPasswordText.trim().length == 0" type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteMyAccount()">Hesabımı Sil</button>
        </div>
      </div>
    </div>
  </div>