@media(height <= 1920px)
{
    .searchBar{
        overflow-y: auto;
        max-height: 50vh;
    }
}

.addClass{
    background-color: rgb(98, 141, 89);
}
.updateClass{
    background-color: rgb(161, 124, 124);
}

.bookName{
    width: 35%;
}
.bookIsbn{
    width: 10%;
}

.bookPublisher{
    width: 20%;
}

.bookAuthor{
    width: 15%;
}

.bookGenre{
    width: 10%;
}

.bookAdmin{
    width: 10%;
}