<p class="display-4 text-center">Kitap Yönetim Sayfası</p>
<p class="border-bottom border-1"></p>
<div class="row">
    <div [class]="classDiv1">      
        <h4 class="text text-center">Kitap Ara</h4>
        <div class="border border-1 border-dark-50 my-2 p-3">
            <h5>Kitap Adıyla Ara</h5>
            <input
              type="text"
              class="form-control"
              placeholder="Kitap adını giriniz."
              [(ngModel)]="bookNameForSearch"
              id="name"
              aria-label="İsim ile ara"
              [disabled]="isbnTextForSearch || nativeForSearch || notNativeForSearch || authorFullNameForSearch!=='Seçiniz...' || genreNameForSearch!=='Seçiniz...' || publisherNameForSearch !== 'Seçiniz...' || noAnyBookDto"              
            />
          </div>
          <div class="border border-1 border-dark-50 my-2 p-3">
            <h5>ISBN Numarasıyla Ara</h5>
            <input
              type="text"
              (keypress)="numberOnly($event)"              
              maxlength="13"             
              class="form-control"
              placeholder="97(8/9) _ _ _ _ _ _ _ _ _ _"
              [(ngModel)]="isbnTextForSearch"
              id="isbnText"
              aria-label="ISBN ile ara"
              [disabled]="bookNameForSearch || nativeForSearch || notNativeForSearch || authorFullNameForSearch !=='Seçiniz...' || genreNameForSearch!=='Seçiniz...' || publisherNameForSearch !== 'Seçiniz...' || noAnyBookDto"              
            />
          </div>
          <div class="border border-1 border-dark-50 my-2 p-3">
            <h5 class="text-center">Yazar Yerli / Yabancı</h5>
            <div class="row">
              <div class="col text-center">
                <input
                  type="radio"
                  name="btnRadio"
                  id="btnRadio1"
                  class="btn-check"
                  autocomplete="off"
                  (click)="setNative()"
                  [disabled]="bookNameForSearch || isbnTextForSearch || authorFullNameForSearch !=='Seçiniz...' || genreNameForSearch !=='Seçiniz...' || publisherNameForSearch !== 'Seçiniz...' || noAnyBookDto"                                    
                />
                <label for="btnRadio1" class="btn btn-outline-secondary btn-sm"
                  >Yerli</label
                >
              </div>
              <div class="col text-center">
                <input
                  type="radio"
                  name="btnRadio"
                  id="btnRadio2"
                  class="btn-check"
                  autocomplete="off"
                  (click)="setNotNative()"
                  [disabled]="bookNameForSearch || isbnTextForSearch || authorFullNameForSearch !=='Seçiniz...' || genreNameForSearch !=='Seçiniz...' || publisherNameForSearch !== 'Seçiniz...'|| noAnyBookDto"                  
                />
                <label for="btnRadio2" class="btn btn-outline-secondary btn-sm"
                  >Yabancı</label
                >
              </div>
            </div>
          </div>
          <div class="border border-1 border-dark-50 my-2 p-3">
            <h5>Yazar Adıyla Ara</h5>
            <select 
          class="form-select"
          id="authorFullName"
          name="authorFullName"           
          aria-label="Yazar adına göre ara"
          [(ngModel)]="authorFullNameForSearch"
          [disabled]="bookNameForSearch || isbnTextForSearch || nativeForSearch || notNativeForSearch || genreNameForSearch!=='Seçiniz...' || publisherNameForSearch !== 'Seçiniz...'|| noAnyBookDto|| noAnyAuthorForSearchArea"
          [class.is-invalid] = "noAnyAuthorForSearchArea"
          >
            <option *ngIf="authorFullNameForSearch=='Seçiniz...'" selected >{{authorFullNameForSearch}}</option>
            <option *ngFor="let author of authorListForSearchArea" value="{{author.firstName +' '+author.lastName}}">{{author.firstName +' '+author.lastName}}</option>            
          </select>
          <div *ngIf="noAnyAuthorForSearchArea" class="text small text-danger mt-2">
            *Sisteme yazar eklenmesi gerekmektedir.
          </div> 
          </div>

          <div class="border border-1 border-dark-50 my-2 p-3">
            <h5>Türe Göre Ara</h5>
            <select 
          class="form-select"
          id="genreName"
          name="genreName"
          [(ngModel)]="genreNameForSearch"
          aria-label="Türe göre ara"
          [disabled]="bookNameForSearch || isbnTextForSearch || nativeForSearch || notNativeForSearch || authorFullNameForSearch !=='Seçiniz...' || publisherNameForSearch !== 'Seçiniz...'|| noAnyBookDto || noAnyGenreForSearchArea"
          [class.is-invalid] ="noAnyGenreForSearchArea"
          >
            <option *ngIf="genreNameForSearch == 'Seçiniz...'" selected >{{genreNameForSearch}}</option>
            <option *ngFor="let genre of genreListForSearchArea" value="{{genre.name}}">{{genre.name}}</option>            
          </select>
            <div *ngIf="noAnyGenreForSearchArea" class="text small text-danger mt-2">
              *Sisteme tür eklenmesi gerekmektedir.
            </div>    
          </div>

          <div class="border border-1 border-dark-50 my-2 p-3">
            <h5>Yayıneviyle Ara</h5>
            <select 
          class="form-select"
          id="publisherName"
          name="publisherName"
          [(ngModel)]="publisherNameForSearch" 
          aria-label="Yayınevine göre ara"
          [disabled]="bookNameForSearch || isbnTextForSearch || nativeForSearch || notNativeForSearch || authorFullNameForSearch !=='Seçiniz...' || genreNameForSearch !== 'Seçiniz...'|| noAnyBookDto || noAnyPublisherForSearchArea"
          [class.is-invalid] = "noAnyPublisherForSearchArea"
          >
            <option *ngIf="publisherNameForSearch == 'Seçiniz...'" selected>{{publisherNameForSearch}}</option>
            <option *ngFor="let publisher of publisherListForSearchArea" value="{{publisher.name}}">{{publisher.name}}</option>            
          </select>
            <div *ngIf="noAnyPublisherForSearchArea" class="text small text-danger mt-2">
              *Sisteme yayınevi eklenmesi gerekmektedir.
            </div> 
          </div>
          <div class="border border-1 border-dark-50 my-2 p-3">
            <h5 class="text-center">Seçimi Temizle</h5>
            <div class="col text-center">
              <input
                type="radio"
                name="btnRadio"
                id="btnRadio3"
                class="btn-check"
                autocomplete="off"                
              />
              <label for="btnRadio3" (click)="clearSelections()" class="btn btn-outline-secondary btn-sm"
                >Temizle</label
              >
            </div>
          </div>       
    </div>
    <div [class]="classDiv2">

      <!-- kitap ekle formu aşada -->

    <div *ngIf="isItAdd" class="border border-1 p-3 addClass my-2"> 
        <p class="display-6 fw-normal text-center">Kitap Ekle</p>
      <form [formGroup]="addBookForm">
      <div class="row">
        <div class="col input-group mb-3">
          <label class="input-group-text">Kitap Adı</label>
          <input 
          class="form-control"
          type="text"
          placeholder="Kitap adı"
          formControlName="name"
          [class.is-invalid] ="addName.invalid && (addName.touched || addName.dirty)"
          [class.is-valid] ="addName.valid && (addName.touched || addName.dirty)"
          >
        </div>
        <div class="col input-group mb-3">
          <label class="input-group-text">ISBN No</label>
          <input 
          class="form-control"
          type="text"
          (keypress)="numberOnly($event)"
          maxlength="13"
          placeholder="ISBN No"
          formControlName="isbn"
          [class.is-invalid] ="addIsbn.invalid && (addIsbn.touched || addIsbn.dirty)"
          [class.is-valid] ="addIsbn.valid && (addIsbn.touched || addIsbn.dirty)"
          >
        </div>
        <div class="col input-group mb-3">
          <label class="input-group-text">Yazar</label>          
          <select class="form-select" id="inputGroupSelect01"
          formControlName="authorFullName"
          >                   
            <option selected>Seçiniz...</option>
            <option *ngFor="let author of authorList" value="{{author.id}}">{{author.firstName +' '+ author.lastName}}</option>            
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="input-group mb-3">
            <label class="input-group-text">Yayınevi</label>
            <select class="form-select" id="inputGroupSelect01"
            formControlName="publisherName"
            >
              
              <option selected>Seçiniz...</option>
              <option *ngFor="let publisher of publisherList" value="{{publisher.id}}">{{publisher.name}}</option>
              
            </select>
          </div>  
        </div>        
        <div class="col-4">
          <div class="input-group mb-3">
            <label class="input-group-text">Tür</label>
            <select class="form-select" id="inputGroupSelect01"
            formControlName="genreName"
            >
                                         
              <option selected>Seçiniz...</option>
              <option *ngFor="let genre of genreList" value="{{genre.id}}">{{genre.name}}</option>
              
            </select>
          </div>
        </div>
        
      </div>

        <div class="row">
          <div class="text-end">
            <button class="btn btn-outline-light" type="button" (click)="addBook()" 
            [disabled]="addAuthorFullName.value==='Seçiniz...' || addPublisherName.value==='Seçiniz...' || addGenreName.value === 'Seçiniz...' || addName.invalid || addIsbn.invalid"           
            >Kaydet</button>
          <button class="btn btn-outline-light ms-2" type="button" (click)="resetAddForm()">İptal</button>    
          </div>
        </div>
      </form>
    </div>

    <!-- update formu aşağıda -->

    <div *ngIf="isItUpdate" class="border border-1 p-3 updateClass my-2"> 
      <p class="display-6 fw-normal text-center">Kitap Güncelle</p>
      <form>
        <div class="row">
          <div class="col input-group mb-3">
            <label class="input-group-text">Kitap Adı</label>
            <input 
            class="form-control"
            type="text"
            placeholder="Kitap adı"
            >
          </div>
          <div class="col input-group mb-3">
            <label class="input-group-text">ISBN No</label>
            <input 
            class="form-control"
            type="text"
            placeholder="ISBN No"
            >
          </div>
          <div class="col input-group mb-3">
            <label class="input-group-text">Yazar</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
  
        <div class="row">
          <div class="col-4">
            <div class="input-group mb-3">
              <label class="input-group-text">Yayınevi</label>
              <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>  
          </div>        
          <div class="col-4">
            <div class="input-group mb-3">
              <label class="input-group-text">Tür</label>
              <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          
        </div>
  
          <div class="row">
            <div class="text-end">
              <button class="btn btn-outline-light" type="button">Kaydet</button>
            <button class="btn btn-outline-light ms-2" type="button">İptal</button>    
            </div>
          </div>
        </form>
  </div>

  <!-- kitap ekleme ve güncelleme validasyon ve noAuthor vs hataları aşağıda -->
  <div *ngIf="noAnyAuthor" class="text small text-danger">
    *Sistemde kullanılabilir yazar mevcut değil. Kitap eklemeden önce yazar eklemelisiniz.
  </div>
  <div *ngIf="noAnyGenre" class="text small text-danger">
    *Sistemde kullanılabilir tür mevcut değil. Kitap eklemeden önce tür eklemelisiniz.
  </div>
  <div *ngIf="noAnyPublisher" class="text small text-danger">
    *Sistemde kullanılabilir yayınevi mevcut değil. Kitap eklemeden önce yayınevi eklemelisiniz.
  </div>
  <div *ngIf="isItAdd && addName.touched || addName.dirty">
    <div *ngIf="addName.hasError('required')" class="text small text-danger">
      *Kitap adı boş bırakılamaz.
    </div>
    <div *ngIf="addName.hasError('pattern')" class="text small text-danger">
      *Kitap adı boşlukla başlayamaz veya bitemez. İzin verilenler dışında özel karakter içeremez.
    </div>
  </div>
  <div *ngIf="isItAdd && addIsbn.touched || addIsbn.dirty">
    <div *ngIf="addIsbn.hasError('required')" class="text small text-danger">
      *ISBN numarası boş bırakılamaz.
    </div>
    <div *ngIf="addIsbn.hasError('pattern')" class="text small text-danger">
      *ISBN numarası 978 veya 979 ile başlar ve 13 rakamdan oluşur.
    </div>
  </div>

  <!-- kitap listeleme tablosu aşağıda -->

    <table *ngIf="(bookDtosList | bookDtoSearch:isbnTextForSearch :bookNameForSearch :publisherNameForSearch :authorFullNameForSearch :genreNameForSearch :nativeForSearch :notNativeForSearch).length>0" class="table table-striped table-hover text-center">
      <thead>
        <tr >
          <th>Ad</th>
          <th>ISBN</th>
          <th>Yayınevi</th>
          <th>Yazar</th>
          <th>Tür</th>
          <th>Yönetim</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bookDto of bookDtosList | bookDtoSearch:isbnTextForSearch :bookNameForSearch :publisherNameForSearch :authorFullNameForSearch :genreNameForSearch :nativeForSearch :notNativeForSearch">
          <td class="bookName">{{bookDto.name}}</td>
          <td class="bookIsbn">{{bookDto.isbn}}</td>
          <td class="bookPublisher">{{bookDto.publisherName}}</td>
          <td class="bookAuthor">{{bookDto.authorFullName}}</td>
          <td class="bookGenre">{{bookDto.genreName}}</td>
          <td class="bookAdmin">
            <button class="btn btn-sm btn-secondary">Güncelle</button>
          </td>
        </tr>
      </tbody>
    </table>
    
      <!-- arama ve hiç kitap olmaması hataları aşağıda -->
    <div class="text text-danger fw-bold border border-1 border-danger my-2 p-2" *ngIf="(bookDtosList | bookDtoSearch:isbnTextForSearch :bookNameForSearch :publisherNameForSearch :authorFullNameForSearch :genreNameForSearch :nativeForSearch :notNativeForSearch).length === 0 && loaded">
      Aradığınız kriterde kitap bulunmamaktadır.
    </div>
    <div class="text text-danger text-center fw-bold border border-1 border-danger my-2 p-2" *ngIf="noAnyBookDto">Sistemde kullanılabilecek kitap bulunmamaktadır.
    </div>









        
    </div>
</div>
