<p class="display-4 text-center">Yazar Yönetim Sayfası</p>
<p class="border-bottom border-1"></p>
<div class="row">
  <div [class]="classDiv1">
    <h3 class="text text-center">Yazar Ara</h3>
    <div class="border border-1 border-dark-50 p-3">
        <h5 class="text text-center">Ad - Soyad ile ara</h5>
        <input
          type="text"
          class="form-control"
          placeholder="Aranacak ifadeyi giriniz."
          [(ngModel)]="searchText"
          id="searchText"
          aria-label="Yazar arama alanı."
          [disabled]="yerliData || yabanciData || noAnyAuthor"
        />
      </div>
      <div class="border border-1 border-dark-50 my-2 p-3">
        <h5 class="text-center">Uyruğa göre ara</h5>
        <div class="row">
          <div class="col text-center">
            <input
              type="radio"
              name="btnRadio"
              id="btnRadio1"
              class="btn-check"
              autocomplete="off"
              (click)="yerli()"
              [disabled]="searchText.length > 0 || noAnyAuthor"
            />
            <label for="btnRadio1" class="btn btn-outline-secondary btn-sm"
              >Yerli</label
            >
          </div>
          <div class="col text-center">
            <input
              type="radio"
              name="btnRadio"
              id="btnRadio2"
              class="btn-check"
              autocomplete="off"
              (click)="yabanci()"
              [disabled]="searchText.length > 0 || noAnyAuthor"
            />
            <label for="btnRadio2" class="btn btn-outline-secondary btn-sm"
              >Yabancı</label
            >
          </div>
        </div>
      </div>
      <div class="border border-1 border-dark-50 my-2 p-3">
        <h5 class="text-center">Seçimi Temizle</h5>
        <div class="col text-center">
          <input
            type="radio"
            name="btnRadio"
            id="btnRadio5"
            class="btn-check"
            autocomplete="off"
            (click)="clearSearchArea()"
            [disabled]="noAnyAuthor"
          />
          <label for="btnRadio5" class="btn btn-outline-secondary btn-sm"
            >Temizle</label
          >
        </div>
      </div>
  </div>
  <div  [class]="classDiv2">
    <!-- <p class="display-5 text-center fw-normal">Yazarlar</p> -->
    <!-- Yazar ekle aşağıda -->
    <div *ngIf="isItAdd" class="border border-1 p-1 addClass">
      <p class="display-6 fw-normal text-center">Yazar Ekle</p>
      <form [formGroup]="addAuthorForm">
        <div class="input-group mb-3">
          <span class="input-group-text ms-2">Ad:</span>
          <input 
          type="text" 
          class="form-control"            
          aria-label="Yazar adı"
          placeholder="Yazar adı yazınız"
          id="firstName"
          name="firstName"
          formControlName="firstName"
          [class.is-invalid] ="addAuthorFirstName.invalid && (addAuthorFirstName.touched || addAuthorFirstName.dirty)"
          [class.is-valid] ="addAuthorFirstName.valid && (addAuthorFirstName.touched || addAuthorFirstName.dirty)"
          >                   
          <span class="input-group-text ms-2">Soyadı:</span>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Yazar soyadı yazınız" 
          aria-label="Yazar soyadı"
          id="lastName"
          name="lastName"
          formControlName="lastName"
          [class.is-invalid] ="addAuthorLastName.invalid && (addAuthorLastName.touched || addAuthorLastName.dirty)"
          [class.is-valid] ="addAuthorLastName.valid && (addAuthorLastName.touched || addAuthorLastName.dirty)"
          >
          <span class="input-group-text ms-2">Yazar Yerli mi?</span>
          <select 
          class="form-select"
          id="native"
          name="native"
          formControlName="native" 
          aria-label="Yazar yerli mi"
          >
            <option selected [ngValue]="true">Evet</option>
            <option [ngValue]="false">Hayır</option>
          </select>
          <button [disabled]="addAuthorForm.invalid" class="btn btn-outline-light ms-2" (click)="addAuthor()" type="button">Kaydet</button>
          <button [disabled]="addAuthorFirstName.untouched && addAuthorLastName.untouched" class="btn btn-outline-light mx-2" (click)="resetAddForm()" type="button">İptal</button>
        </div>
      </form>      
    </div>

     <!-- Yazar güncelle aşağıda -->
     <div *ngIf="isItUpdate" class="border border-1 p-1 updateClass">
      <p class="display-6 fw-normal text-center">Yazar Güncelle</p>
      <form [formGroup]="updateAuthorForm">
        <div class="input-group mb-3">
          <span class="input-group-text ms-2">Ad:</span>
          <input 
          type="text" 
          class="form-control"            
          aria-label="Yazar adı"
          id="firstName"
          name="firstName"
          formControlName="firstName"
          [class.is-invalid] ="updateAuthorFirstName.invalid && (updateAuthorFirstName.touched || updateAuthorFirstName.dirty)"
          [class.is-valid] ="updateAuthorFirstName.valid && (updateAuthorFirstName.touched || updateAuthorFirstName.dirty)"
          >          
          <span class="input-group-text ms-2">Soyadı:</span>
          <input 
          type="text" 
          class="form-control" 
          aria-label="Yazar soyadı"
          id="lastName"
          name="lastName"
          formControlName="lastName"
          [class.is-invalid] ="updateAuthorLastName.invalid && (updateAuthorLastName.touched || updateAuthorLastName.dirty)"
          [class.is-valid] ="updateAuthorLastName.valid && (updateAuthorLastName.touched || updateAuthorLastName.dirty)"
          >
          <span class="input-group-text ms-2">Yazar Yerli mi?</span>
          <select 
          class="form-select"
          id="native"
          name="native"
          formControlName="native" 
          aria-label="Yazar yerli mi"
          >
            <option selected [ngValue]="author.native">{{author.native ? "Evet" : "Hayır"}}</option>
            <option *ngIf="author.native" [ngValue]="false">Hayır</option>
            <option *ngIf="!author.native" [ngValue]="true">Evet</option>
          </select>
          <button [disabled]="updateAuthorForm.invalid" class="btn btn-outline-light ms-2" (click)="updateAuthor()" type="button">Kaydet</button>
          <button class="btn btn-outline-light mx-2" (click)="showAddForm()" type="button">İptal</button>
        </div>
      </form>
    </div>

    
    <!-- Add formu hata mesajları -->
    <div *ngIf="isItAdd || addAuthorFirstName.invalid || addAuthorLastName.invalid" class="row">     
        <div class="col-3 ms-5">
         <div *ngIf="addAuthorFirstName.touched || addAuthorFirstName.dirty">
            <div *ngIf="addAuthorFirstName.hasError('required')" class="text small text-danger">
              *Yazar adı boş bırakılamaz.
            </div>    
            <div *ngIf="addAuthorFirstName.hasError('minlength')" class="text small text-danger">
              *Yazar adı en az 3 karakterden oluşmalıdır.
            </div>
            <div *ngIf="addAuthorFirstName.hasError('pattern')" class="text small text-danger">
              *Ad boşlukla başlayamaz veya bitemez. İzin verilenler dışında özel karakter içeremez.
            </div>
         </div>
        </div>
        <div *ngIf="addAuthorLastName.touched || addAuthorLastName.dirty" class=" col-3 ms-5">
          <div *ngIf="addAuthorLastName.hasError('required')" class="text small text-danger">
            *Yazar soyadı boş bırakılamaz.
          </div>    
          <div *ngIf="addAuthorLastName.hasError('minlength')" class="text small text-danger">
            *Yazar soyadı en az 2 karakterden oluşmalıdır.
          </div>
          <div *ngIf="addAuthorLastName.hasError('pattern')" class="text small text-danger">
            *Soyad boşlukla başlayamaz veya bitemez. İzin verilenler dışında özel karakter içeremez.
          </div>
        </div>
      </div>

      <!-- update formu hata mesajları -->
      <div *ngIf="isItUpdate" class="row">     
        <div class="col-3 ms-3">
         <div *ngIf="updateAuthorFirstName.touched || updateAuthorFirstName.dirty">
            <div *ngIf="updateAuthorFirstName.hasError('required')" class="text small text-danger">
              *Yazar adı boş bırakılamaz.
            </div>    
            <div *ngIf="updateAuthorFirstName.hasError('minlength')" class="text small text-danger">
              *Yazar adı en az 3 karakterden oluşmalıdır.
            </div>
            <div *ngIf="updateAuthorFirstName.hasError('pattern')" class="text small text-danger">
              *Sadece iki kelime arasında tek boşluk bulunabilir.
            </div>
         </div>
        </div>
        <div *ngIf="updateAuthorLastName.touched || updateAuthorLastName.dirty" class=" col-4 offset-1">
          <div *ngIf="updateAuthorLastName.hasError('required')" class="text small text-danger">
            *Yazar soyadı boş bırakılamaz.
          </div>    
          <div *ngIf="updateAuthorLastName.hasError('minlength')" class="text small text-danger">
            *Yazar soyadı en az 2 karakterden oluşmalıdır.
          </div>
          <div *ngIf="updateAuthorLastName.hasError('pattern')" class="text small text-danger">
            *Sadece iki kelime arasında tek boşluk bulunabilir.
          </div>
        </div>
      </div>
    

<!-- Yazarlar listesi aşağıda -->
    <div class="text text-danger fw-bold border border-1 border-danger my-2 p-2" *ngIf="(authorList | authorSearch:searchText: yerliData: yabanciData).length ===0 && !noAnyAuthor">Aradığınız kriterde yazar bulunmamaktadır.</div>
    <div class="text text-danger fw-bold border border-1 border-danger my-2 p-2" *ngIf="noAnyAuthor">Sistemde kullanılabilecek yazar bulunmamaktadır.</div>
    <table *ngIf="(authorList | authorSearch:searchText: yerliData: yabanciData).length >0" class="table table-striped table-hover text-center">
      <thead>
        <tr>
          <th>Adı</th>
          <th>Soyadı</th>
          <th>Yerli</th>
          <th>Yönetim</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authorList | authorSearch:searchText: yerliData: yabanciData">
          <td class="w-25">{{ author.firstName }}</td>
          <td class="w-25">{{ author.lastName }}</td>
          <td class="w-25">{{ author.native ? "Evet" : "Hayır" }}</td>
          <td class="w-25">
            <button class="btn btn-sm btn-secondary me-1" (click)="setCurrentAuthor(author)">Güncelle</button>
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteAuthor(author)"
            >
              Sil
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>