<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/login"
      >Giriş Yap</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/register">Kayıt Ol</a>
  </li>
</ul>

<body class="text-center">
  <main class="form-signin">
    <!-- <form [formGroup]="loginForm" (ngSubmit)="login()"></form>  ts deki loginForm = new FormGroup({}) ile çalışan post kısmı // button type="submit"-->
    <!-- (keyup.enter)="login()" -->
    <form [formGroup]="loginForm">      
      <img
        class="mb-4"
        src="assets/images/bookicon-1.png"
        alt="image"
        width="92"
        height="77"
      />
      <h1 class="h3 mb-3 fw-normal">Lütfen Giriş Yapın</h1>

      <div class="form-floating">
        <input        
          type="email"
          class="form-control"
          [class.is-invalid] = "email.invalid && (email.touched || email.dirty)"
          [class.is-valid] = "email.valid && (email.touched || email.dirty)"
          id="email"
          name="email"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="email">Email</label>

        <div *ngIf="email.hasError('required')" class="invalid-feedback position-static text-end my-0">
          Mail adresi boş bırakılamaz.
        </div>
        <div *ngIf="email.hasError('pattern')" class="invalid-feedback position-static text-end my-0">
          Geçerli bir mail adresi yazınız.
        </div>                  
      </div>
      <div class="form-floating mb-3">
        <input        
          type="password"
          class="form-control"          
          [class.is-invalid] = "password.invalid && (password.touched || password.dirty)"
          [class.is-valid] = "password.valid && (password.touched || password.dirty)"
          id="password"
          placeholder="Password"
          name="password"
          formControlName="password"
        />
        <label  for="password">Parola</label>   

        <div *ngIf="password.hasError('required')" class="invalid-feedback position-static text-end mt-0">
          Parola boş bırakılamaz.
        </div> 
        <div *ngIf="password.hasError('noAnyWhiteSpaces')" class="invalid-feedback position-static text-end mt-0">
          Parola boşluk içeremez.
        </div>           
      </div>     
      <button [disabled]="loginForm.invalid || loginError" (click)="login()" [class]= "buttonClass" type="submit">
        Giriş Yap
      </button>
      <div *ngIf="loginError" class="small fw-bold text-danger mt-1">
        <small *ngFor="let item of loginErrorMessages">{{item}}<br></small>
      </div>      
      <p class="mt-5 mb-3 text-muted">&copy; {{year==createdYear ? year : createdYear +" - "+ year}}</p>
    </form>
  </main>
</body>

<!-- 
  Alternatif kullanımlar
  [class.is-invalid] = "loginForm.get('password').invalid && (loginForm.get('password').touched || loginForm.get('password').dirty)" 
*ngIf="loginForm.get('password').hasError('noAnyWhiteSpaces')"
-->
