<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/login"
      >Giriş Yap</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/register">Kayıt Ol</a>
  </li>
</ul>

<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="loginForm" (ngSubmit)="login()">      
      <img
        class="mb-4"
        src="assets/images/bookicon-1.png"
        alt="image"
        width="92"
        height="77"
      />
      <h1 class="h3 mb-3 fw-normal">Lütfen Giriş Yapın</h1>

      <div class="form-floating">
        <input        
          type="email"
          class="form-control"
          [class.is-invalid] = "loginForm.get('email').invalid && loginForm.get('email').touched"
          [class.is-valid] = "loginForm.get('email').valid && loginForm.get('email').touched"
          id="email"
          name="email"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="email">Email</label>

        <div *ngIf="email.hasError('required')" class="invalid-feedback position-static text-end my-0">
          Mail adresi boş bırakılamaz.
        </div>
        <div *ngIf="email.hasError('pattern')" class="invalid-feedback position-static text-end my-0">
          Geçerli bir mail adresi yazınız.
        </div>
      </div>
      <div class="form-floating">
        <input        
          type="password"
          class="form-control"          
          [class.is-invalid] = "loginForm.get('password').invalid && loginForm.get('password').touched"
          [class.is-valid] = "loginForm.get('password').valid && loginForm.get('password').touched"
          id="password"
          placeholder="Password"
          name="password"
          formControlName="password"
        />
        <label  for="password">Parola</label>   

        <div *ngIf="loginForm.get('password').hasError('required')" class="invalid-feedback position-static text-end mt-0">
          Parola boş bırakılamaz.
        </div> 
        <div *ngIf="loginForm.get('password').hasError('whiteSpaces')" class="invalid-feedback position-static text-end mt-0">
          Parola boşluk içeremez.
        </div>           
      </div>     
      <button [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary mt-3" type="submit">
        Giriş Yap
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; {{year==createdYear ? year : createdYear +" - "+ year}}</p>
    </form>
  </main>
</body>
