<div class="col-4 mx-auto text-center mt-2">
    <p class="display-4 text-center text-danger fw-bold">Sayfa Bulunamadı</p>
    <p class="border-bottom border-1"></p>
    <p class="text text-center text-danger fw-bold">Aradığınız sayfaya ulaşılamadı. Lütfen adresin doğru olduğundan emin olun.</p>
    <div class="mt-2">       
        <button class="btn btn-success me-4" type="button" (click)="goToLibrary()">Kitaplara Git</button>
        <button class="btn btn-success" type="button" (click)="goToUserLibrary()">Kütüphaneme Git</button>
    </div>
</div>